<div class="site-header">
  <div class="site-header__content">
    <%= image_tag "logo.svg", class: "site-header__logo" %>

    <%= form_for table.search, url: movies_path, method: :get, html: { class: "index-search" } do |form| %>
      <%= form.label "Search" %>
      <%= form.text_field :query, size: 50, autocomplete: "off" %>
    <% end %>
  </div>
</div>

<div class="site-body">
  <div class="site-body__content">
    <div class="filter-list">
      <h2 class="filter-list__heading">Sort</h2>
      <%= render "options", options: table.options_for(:sort) %>

      <h2 class="filter-list__heading">Status</h2>
      <div>
        <% table.options_for(:status).each do |option| %>
          <% classes = option.selected? ? ["filter-toggle", "active"] : ["filter-toggle"] %>
          <%= link_to movies_path(option.params), class: classes do %>
            <span><%= option.name %></span>
          <% end %>
        <% end %>
      </div>

      <h2 class="filter-list__heading">Rating</h2>
      <%= render "options", options: table.options_for(:adult) %>
    </div>

    <main>
      <% if table.filtered? %>
        <%= link_to "Clear current search, filters, and sort", movies_path, class: "clear-filter-link"  %>
      <% end %>
      <ul class="movie-list">
        <%= render(table.items) || render("empty_index") %>
      </ul>
    </main>
  </div>
</div>
