<h3>Top Movies</h3>

<%= form_for "", url: movies_path, method: :get, class: "flex gap-2 mb-4" do |f| %>
  <%= f.text_field :query, size: 50, autocomplete: "off", value: @table.search.query, class: "border border-black p-2 rounded w-full" %>
  <%= f.submit "Search", class: "bg-gray-200 border border-black rounded px-4 py-2" %>
<% end %>

<% if @table.filtered? %>
  <p><%= link_to "Clear current search, filters, and sort", movies_path %></p>
<% end %>

<% if @table.items.any? %>
  <%= render @table.items %>
<% else %>
  <p>No movies to display</p>
<% end %>
