<div class="site-header">
  <div class="site-header__content">
    <h1>Top Movies</h1>

    <%= form_tag movies_path, method: :get, class: "index-search" do %>
      <%= label_tag :q, "Search" %>
      <%= text_field_tag :q, table.q, size: 50, autocomplete: "off" %>
    <% end %>
  </div>
</div>

<div class="site-body">
  <div class="site-body__content">
    <div class="filter-list">
      <h2 class="filter-list__heading">Filter</h2>
      <%= render "options", options: table.options_for(:status) %>
      <%= render "options", options: table.options_for(:adult) %>
      <h2 class="filter-list__heading">Sort</h2>
      <%= render "options", options: table.options_for(:sort) %>
    </div>

    <div class="movie-list">
      <% if table.filtered? %>
        <%= link_to "Reset search and filters", movies_path, class: "clear-filter-link"  %>
      <% end %>
      <ul>
        <%= render(table.items) || render("empty_index") %>
      </ul>
    </div>
  </div>
</div>
