<div class="site-header">
  <div class="site-header__content">
    <h1>Top Movies</h1>

    <%= form_with url: movies_path, method: :get, local: true, html: { class: "index-search" } do |form| %>
      <%= form.label :query, "Search" %>
      <%= form.text_field :query, size: 50, autocomplete: "off", value: table.search.query %>
    <% end %>
  </div>
</div>

<div class="site-body">
  <div class="site-body__content">
    <div class="movie-list">
      <% if table.filtered? %>
        <%= link_to "Clear current search, filters, and sort", movies_path, class: "clear-filter-link"  %>
      <% end %>
      <ul>
        <%= render(table.items) || render("empty_index") %>
      </ul>
    </div>
  </div>
</div>
